* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 54, 61);
  font-family: Tahoma;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

.container {
  padding: 0 15px;
  margin: auto;
  position: relative;
}
@media (min-width:767px) {
  .container {
    width: 730px;
  }
}
@media (min-width:991px) {
  .container {
    width: 960px;
  }
}
@media (min-width:1099px) {
  .container {
    width: 1150px;
  }
}

.main-button {
  background-color: rgba(226, 73, 76, 0.9);
  color: #fff;
  outline: none;
  border: none;
}
.main-button:hover {
  background-color: #e2494c;
}

.head-with-border {
  position: relative;
}
.head-with-border h2 {
  text-align: center;
  background-color: #e2494c;
  color: #fff;
  margin: 50px auto;
  border-radius: 7px;
  width: 400px;
  padding: 10px 15px;
}
.head-with-border h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #9c9c9c;
  top: 50%;
  left: 0;
  z-index: -1;
}

.header {
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #9c9c9c;
}
.header .logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 30%;
  float: left;
}
@media (max-width:992px) {
  .header .logo {
    width: 100%;
    float: none;
    text-align: center;
  }
}
.header .logo h1 {
  margin: 5px 0 0;
  font-size: 40px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
.header .logo p {
  color: #666;
}
.header .navbar {
  overflow: hidden;
  width: 70%;
  float: left;
  background-color: #e2494c;
  border-radius: 4px;
}
@media (max-width:992px) {
  .header .navbar {
    width: 100%;
    float: none;
    text-align: center;
  }
}
.header .navbar li {
  width: 20%;
  float: left;
  text-align: center;
}
.header .navbar li a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}
.header .navbar li a:hover {
  color: #ddd;
  border: 1px solid rgb(0, 54, 61);
}

.slider blockquote {
  font-size: 20px;
  font-style: italic;
  line-height: 1.7;
  text-align: center;
  color: #5e5e5e;
  width: 80%;
  margin: 30px auto;
}
.slider img {
  max-width: 100%;
}
.slider .bullets {
  text-align: center;
}
.slider .bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #9c9c9c;
  border-radius: 4px;
  border: 2px solid #9c9c9c;
  cursor: pointer;
}
.slider .bullets li:hover, .slider .bullets li.active {
  border-color: #000;
}

.services {
  margin: 70px 0;
}
.services .boxes-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}
.services .boxes-holder .service-box {
  background-color: #eee;
  padding: 20px;
  border-radius: 4px;
}
.services .boxes-holder .service-box .title {
  display: flex;
  gap: 20px;
}
.services .boxes-holder .service-box .title img {
  width: 50px;
  height: 50px;
}
.services .boxes-holder .service-box .title h3 {
  font-size: 1.4rem;
}
.services .boxes-holder .service-box P {
  color: #9c9c9c;
  line-height: 1.5;
  margin-top: 0;
}
.services .boxes-holder .service-box a {
  text-decoration: none;
  color: #777;
  background-color: #ddd;
  padding: 0 5px;
  border-radius: 4px;
}

.our-players {
  margin: 70px 0;
}
.our-players .boxes-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1px;
}
.our-players .boxes-holder .player-box {
  background-color: #eee;
}
.our-players .boxes-holder .player-box img {
  width: 100%;
  margin: 0 auto;
}
.our-players .boxes-holder .player-box h3 {
  font-weight: normal;
  margin: 5px;
}
.our-players .boxes-holder .player-box P {
  padding: 0 20px;
  color: #9c9c9c;
  line-height: 1.2;
  margin-top: 0;
}
.our-players .boxes-holder .player-box a {
  display: inline-block;
  text-decoration: none;
  color: #777;
  background-color: #ddd;
  padding: 0 5px;
  margin: 0 40px 15px;
  border-radius: 4px;
  box-shadow: 0 2px 5px #777;
}

.gallery {
  margin: 70px 0;
}
.gallery .boxes-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}
.gallery .boxes-holder .lorem-box {
  overflow: hidden;
  text-align: center;
}
.gallery .boxes-holder .lorem-box img {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.footer {
  background-color: aqua;
}
.footer .glry {
  color: #333;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.footer .glry .section-title {
  font-family: Cambria, Cochin;
}
.footer .glry .latest {
  grid-column: auto/span 2;
}
.footer .glry .latest .img-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.footer .glry .latest .img-box img {
  border: 1px solid #333;
  padding: 5px;
}
.footer .glry .latest .img-box .info h4 {
  margin: 0;
  line-height: 0.8;
  color: #e2494c;
}
.footer .glry .latest .img-box .info p {
  line-height: 1.5;
  max-width: 70%;
  color: #777;
}
@media (max-width:768px) {
  .footer .glry .info {
    grid-column: span 2;
    text-align: center;
  }
}
.footer .glry .info ul {
  line-height: 2;
  color: #777;
}
.footer .glry .info ul data {
  color: #e2494c;
}
.footer .glry .info h4 {
  color: #777;
  margin-bottom: 0;
}
.footer .glry .info P {
  line-height: 0.5;
  color: #777;
}
.footer .glry .contact {
  margin: 0 auto;
}
.footer .glry .contact form {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  width: 300px;
}
@media (max-width:768px) {
  .footer .glry .contact form {
    width: 200px;
  }
}
.footer .glry .contact form textarea,
.footer .glry .contact form input {
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.footer .glry .contact form input {
  outline: none;
}
.footer .glry .contact form textarea {
  height: 160px;
  resize: none;
}
.footer .glry .contact form input[type=submit] {
  justify-self: flex-start;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px #333;
}
.footer .copyrights {
  border-top: 1px solid #9c9c9c;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px -0.5px 1px #eee;
  color: #333;
}/*# sourceMappingURL=homepage.css.map */