$maxMobile: 767px;
$minSmall: 768px;
$maxSmall: 991px;
$minMedium: "(min-width:992px)";
$maxMedium: 1099px;

$bodyBgc: rgb(0, 54, 61);
$redColor: #e2494c;
$greyColor: #9c9c9c;

$float-left: left;
$float-right: right;
