.container {
   padding: 0 15px;
   margin: auto;
   position: relative;
   @media #{$minMobile} {
      width: 730px;
   }
   @media #{$minSmall} {
      width: 960px;
   }
   @media #{$minMedium} {
      width: 1150px;
   }
}
